# Rust
/src-tauri/target/
**/*.rs.bk

# Node
node_modules/

# Tauri
/src-tauri/WixTools/

# OS
.DS_Store
Thumbs.db

# Secrets (NEVER commit these)
build-mac.sh
*.p12
*.pem
*.key

# IDE
.vscode/
.idea/
